@use 'variables';
//Breakpoints
@media screen and (max-width: variables.$mobile) {
    .products {
        display: block;
    }

    .product-item {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: variables.$tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}