@use 'variables';
@import 'mixin';

.container {
    @include elementContainer();
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

header {
    background-color: variables.$headerColor;
    position: sticky;
    top: 0;
    left: 0;

    .menu {
        display: flex;
    }

    .menu li {
        font-weight: bold;
        margin-left: 24px;
    }

    .menu li a {
        color: variables.$whiteColor;
        text-decoration: none;
    }
}