@import "maps.less";
@import "reset.less";

@breakpointMobile: ~"(max-width: 767px)";
@breakpointTablet: ~"(max-width: 1023px)";

body {
    background-color: #colors[backgroundColor];
}

li {
    list-style: none;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    @media @breakpointTablet {
        max-width: 80%;
    }
}

header {
    background-color: #colors[headerColor];
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;
    }

    a {
        color: #colors[textColor];
        text-decoration: none;
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: 100%;

    @media @breakpointTablet {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }

    @media @breakpointMobile {
        display: block;
    }
}

.product-item img {
    width: 100%;
    border-radius: 16px;

    @media @breakpointMobile {
        margin-bottom: 32px;
    }
}

.product-button {
    display: block;
    background-color: #colors[buttonColor];
    color: #colors[textColor];
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    margin-top: 8px;
    text-decoration: none;

    &:hover {
        background-color: #colors[buttonHoverColor];
    }
}